.cards > ul > li {
  display: flex;
  flex-direction: column-reverse;
}

.section.cards-container > div > p::after {
  content: "----------";
  color: transparent;
  margin-left: 20px;
  height: .2px;
  width: 76px;
  margin-top: 20px;
  background: linear-gradient(
    to bottom,
    transparent 8px,
    #008edd 9px,
    #a2cf42 1px,
    transparent 10px
  );
}

.card-link .cards a:any-link {
  text-decoration: none;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  min-height: 255px;
  max-height: 255px;
  overflow: hidden;
  transition: transform 0.4s ease;
  transform-origin: 50% 50%;
}

.card-link .cards li:hover img{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  width: 100%;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--accent-background-color);
  background-color: var(--accent-background-color);
  overflow: hidden;
}

.cards .cards-card-body {
  margin: 16px;
  padding: 0 0 5px;
}

.cards .cards-card-body ul {
  list-style: disc;
}

.cards .cards-card-body p, 
.cards .cards-card-body li {
  font-size: var(--body-font-size-xs);
  line-height: 28px;
}

.cards .cards-card-body p > strong,
.cards .cards-card-body h2 {
  line-height: 30px;
  font-size: var(--heading-font-size-m);
  font-weight: 500;
}

.cards .cards-card-image, .cards.gradient .cards-card-dm-image {
  line-height: 0;
  background-color: transparent;
}

.cards.gradient .cards-card-image, .cards.gradient .cards-card-dm-image {
  border-bottom: var(--border-bottom);
  border-image-slice: var(--border-image-slice);
  border-image-source: linear-gradient(to right, var(--gradient-border-start-color), var(--gradient-border-start-color) 0%, var(--gradient-border-end-color) 100%, var(--highlight-background-color) 2%);;
  border-image-width: var(--border-image-width);
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}